body {
    display: flex;
    background: black;
    color: white;
    margin: auto;
    padding: 13px;
    justify-content: center;
}

#container-main {
    border: 1px solid white;
    width: 333px;
}

#container-blanks {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    padding: 13px;
    background: darkslategrey;
}

#container-letter {
    background: green;
    color: black;
}

#container-guessed {
    background: white;
    color: black;
    padding: 33px;
}

