/* Animations */
@keyframes word-glow {
    from {
        text-shadow: 0 0 0 blue;
    }
    to {
        text-shadow: 0 0 13px blue;
    }
}

@keyframes win-glow {
    from {
        color: black;
        text-shadow: 0 0 0 black;
    }
    to {
        color: green;
        text-shadow: 0 0 13px green;
    }
}

@keyframes wrong-glow {
    from {
        color: red;
    }
    to {
        color: black;
    }
}

@keyframes jiggle {
    from {
        padding: 0 0 0 3px;
    }
    to {
        padding: 0 3px 0 0;
    }
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    20% {
        background-color: orange;
    }
    40% {
        background-color: green;
    }
    60% {
        background-color: blue;
    }
    80% {
        background-color: purple;
    }
    100% {
        background-color: red;
    }
}



/* Sytling shizz */
body {
    background: black;
    color: black;
    padding: 0;
    margin: 0;
}

#letter {
    font-size: 2rem;
}

#container-main {
    width: 333px;
    margin: auto;
    border: 1px solid white;
    box-shadow: 3px 3px 3px #333;
}

#container-gallow {
    background: blue;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

#gallow {
    display: absolute;
    width: 70%;
    height: 50%;
}

/* Body parts */
#body-1 {
    position: absolute;
    margin-left: 55px;
    margin-top: 10px;
    visibility: hidden;
}

#body-2 {
    position: absolute;
    margin-left: 55px;
    margin-top: 110px;
    visibility: hidden;
}

#body-3 {
    position: absolute;
    margin-left: -7px;
    margin-top: 105px;
    visibility: hidden;
}

#body-4 {
    position: absolute;
    margin-left: 118px;
    margin-top: 105px;
    visibility: hidden;
}

#body-5 {
    position: absolute;
    margin-left: 30px;
    margin-top: 200px;
    visibility: hidden;
}

#body-6 {
    position: absolute;
    margin-left: 80px;
    margin-top: 200px;
    visibility: hidden;
}

#body-7 {
    position: absolute;
    margin-left: 55px;
    margin-top: 10px;
    visibility: hidden;
}

#container-blanks {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 3rem;
    background: white
}

#container-letter {
    background: white;
    color: black;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    animation: word-glow 1s alternate infinite;
}

#container-guessed {
    background: white;
    color: black;
    padding: 13px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: auto;
    animation: wrong-glow 50ms alternate infinite;
}

/* Rain stuff */
@keyframes raining {
    from {
        top: -500px;
    }
    to {
        top: 90%;
        height: 13px;
    }
}

#rain {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), purple);
    border-radius: 100%;
    height: 200px;
    width: 6px;
    left: 100px;
    z-index: 999999;
    animation: raining ease-in forwards infinite;
}

/* Flooding stuffs */
@keyframes flood {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

#flood {
    position: fixed;
    width: 111%;
    margin: 0;
    padding: 0;
    bottom: 0;
    z-index: 99;
    background: red;
}

@keyframes result-glow {
    from {
        color: black;
        text-shadow: 0 0 0 black;
    }
    to {
        color: white;
        text-shadow: 0 0 33px black;
    }
}

#result-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    animation: result-glow 500ms alternate infinite;
    z-index: 999;
}


