/* Animations */
@keyframes word-glow {
    from {
        text-shadow: 0 0 0 black;
    }
    to {
        text-shadow: 0 0 50px white;
    }
}

@keyframes wrong-glow {
    from {
        color: white;
    }
    to {
        color: red;
    }
}

/* Sytling shizz */
body {
    display: flex;
    background: black;
    color: white;
    margin: auto;
    padding: 13px;
    justify-content: center;
}

#letter {
    font-size: 2rem;
}

#container-main {
    width: 333px;
    border: 1px solid white;
    box-shadow: 3px 3px 3px #333;
}

/* Body parts */
#body-1 {
    position: absolute;
    right: 41%;
    top: 27px;
    visibility: hidden;
}

#body-2 {
    position: absolute;
    right: 37%;
    top: 95px;
    visibility: hidden;
}

#body-3 {
    position: absolute;
    right: 45%;
    top: 90px;
    visibility: hidden;
}

#body-4 {
    position: absolute;
    right: 25%;
    top: 90px;
    visibility: hidden;
}

#body-5 {
    position: absolute;
    right: 45%;
    top: 200px;
    visibility: hidden;
}

#body-6 {
    position: absolute;
    right: 39%;
    top: 200px;
    visibility: hidden;
}



#container-gallow {
    background: purple;
    display: flex;
    justify-content: center;
}

#container-blanks {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 4rem;
    padding: 13px;
    background: linear-gradient(purple, black);
}

#container-letter {
    background: black;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    animation: word-glow 1s alternate infinite;
}

#container-guessed {
    background: linear-gradient(black, purple);
    color: white;
    padding: 13px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: auto;
    animation: wrong-glow 50ms alternate infinite;
}

